# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Datasets
Train Set/
Test Set/

# Models
*.pth

# Test images and outputs
test.jpg
test.png
*.jpeg
